<section class="brand-list">
  @if (brands) {
    @for (brand of brands; track brand.id) {
      <div class="brand-card">
        <div class="brand-card__header">
          <p class="brand-name">{{ brand.name }}</p>
        </div>
        <div class="brand-card__actions">
          <button class="btn btn--details" type="button" [routerLink]="['/brands', brand.id]">Details</button>
          <button class="btn btn--edit" type="button" [routerLink]="['/brands', brand.id, 'edit']">Edit</button>
          <button class="btn btn--delete" type="button" (click)="deleteBrand(brand.id)">Delete</button>
        </div>
      </div>
    }
    <div class="brand-card__add">
      <div class="brand-card__actions">
        <button class="btn btn--add" type="button" [routerLink]="['/brands', 'add']">Add</button>
      </div>
    </div>
  }
</section>
