<article class="text--justified">
  @if (brands) {
    <table class="brand-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Country</th>
          <th>Establishment</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        @for (brand of brands; track brand.id) {
          <tr>
            <td>{{ brand.id }}</td>
            <td>{{ brand.name }}</td>
            <td>{{ brand.country }}</td>
            <td>{{ brand.establishmentDate }}</td>
            <td>
              <button type="button" (click)="onDelete(brand)">Delete</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
  @else {
    <p>Ładowanie…</p>
  }
</article>

