<article class="text--justified">
  @if (cars) {
    <table class="car-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Model</th>
        <th>Price</th>
        <th>Production Year</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
        @for (car of cars; track car.id) {
          <tr>
            <td>{{ car.id }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.price }}</td>
            <td>{{ car.productionYear }}</td>
            <td>
              <button type="button" (click)="deleteCar(car.id)">Delete</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</article>
